<!DOCTYPE html>
<html lang="zh">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<title>{{ page.title }} | {{ site.author }}</title>
<meta charset="UTF-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="renderer" content="webkit">
<meta name="viewport" content="width=device-width,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no">
<link data-turbolinks-track="true" href="/media/css/style.css" media="all" rel="stylesheet">
<script type="text/javascript" async src="/media/js/ga.js"></script>
<script data-turbolinks-track="true" src="/media/js/application.js"></script>

<!--[if lt IE 9]>
    <script src="./media/js/html5shiv.js"></script>
    <script src="./media/js/respond.js"></script>
<![endif]-->

</head>
<body>
<div class="row" style="margin:0;">
  <div class="col-md-3 col-sm-12 left">
    <header class="text-center">
      <div class="img-wrap"> <img class="img-circle" src="/media/img/symbol.jpg"> </div>
      <h1>龙腾万里</h1>
      <p></p>
      <p>清纯美丽的异族少女<br>集智慧勇敢于一身<br>
        身负着不为人知的使命！</p>
      <p></p>
      <div class="brand"> <a href="https://github.com/rookie1989" rel="nofollow" target="_blank" title="Github"><i class="fa fa-github fa-fa-fw"></i></a> <a href="http://weibo.com/431003999" rel="nofollow" target="_blank" title="新浪微博"><i class="fa fa-weibo fa-fa-fw"></i></a> <a href="/feed" target="_blank" title="RSS"><i class="fa fa-rss-square"></i></a> </div>
    </header>
    <nav>
      <ul>
        <li> <a class="active" href="/">Blog</a> </li>
        <li> <a href="/categories">Archives</a> </li>
        <li> <a href="http://chaoskeh.com/page/about.html">About</a> </li>
      </ul>
    </nav>
  </div>
  <div class="col-md-offset-3 col-md-9 col-sm-12 main">
    {{ content }}
    <article>
      <ul class="pager">
        <li class="next"> <a href="http://chaoskeh.com/blog/page/2" rel="next">下一页 →</a> </li>
      </ul>
    </article>
    <footer> Copyright © 2014 - 沪ICP备13021238号-2</footer>
  </div>
</div>
</body>
</html>