---
layout: default
---

<article>
  <div class="misc clearfix">
        <span class="item pull-right">
          <i class="fa fa-comments"></i>
          X条评论
        </span>
        <span class="item pull-right">
          <i class="fa fa-calendar-o"></i>
          <time datetime="{{ page.date | date:"%Y-%m-%d" }}">{{ page.date | date:"%Y-%m-%d" }}</time>
        </span>
  </div>
  <h2>{{ page.title }}</h2>

  <div class="misc clearfix">
        {% for tag in page.tags %}
            <a class="pull-left item" href="/tags/#{{ tag }}"><i class="fa fa-tag"></i> {{ tag }}</a>
        {% endfor %}
  </div>
  <div class="content">
    {{ content }}
  </div>

  <div class="blog-siblings clearfix">
    <a class="pull-left" href="#">« 这里调用上一篇</a>
    <a class="pull-right" href="#">这里调用下一篇  »</a>
  </div>
</article>